openai
python-dotenv
ddgs
requests
beautifulsoup4
pyserial
colorama
pydantic
fastapi

uvicorn[standard]
python-multipart
typing-extensions
lxml
gradio-client
coqui-tts
sounddevice
numpy
scipy
openai-whisper
imageio-ffmpeg